#header {
  height: var(--lumo-size-xl);
}
#header img {
  border-radius: 50%;
  height: var(--lumo-size-s);
  margin-left: auto;
  margin-right: var(--lumo-space-m);
  overflow: hidden;
  background-color: var(--lumo-contrast);
}
#header h1 {
  font-size: var(--lumo-font-size-l);
  margin: 0;
}
#logo {
  box-sizing: border-box;
  box-shadow: inset 0 -1px var(--lumo-contrast-10pct);
  padding: var(--lumo-space-s) var(--lumo-space-m);
}
#logo img {
  height: calc(var(--lumo-size-l) * 1.5);
}
#logo h1 {
  font-size: var(--lumo-font-size-xl);
  font-weight: 600;
  margin: 0 var(--lumo-space-s);
}


vaadin-tab {
  font-size: var(--lumo-font-size-s);
  height: var(--lumo-size-l);
  font-weight: 600;
  color: var(--lumo-body-text-color);
}

vaadin-tab:hover {
  background-color: var(--lumo-contrast-5pct);
}

vaadin-tab[selected] {
  background-color: var(--lumo-primary-color-10pct);
  color: var(--lumo-primary-text-color);
}

/* === IE 11 workarounds === */
@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  /* IE 11 can't handle different themes for sub-parts of the application, without the parts having own
     shadow roots. Instead of polluting the code for all browsers, the relevant colors of dark theme
     is hard coded here. */
  .app-bar {
    color: hsl(214, 100%, 98%);
    background-color: hsl(214, 35%, 21%);
    box-shadow: 0 2px 4px -1px hsla(214, 8%, 4%, 0.23), 0 3px 12px -1px hsla(214, 12%, 6%, 0.32);
  }

  .app-bar__title {
    color: hsl(214, 100%, 98%);
  }
}
